.i{
    width: 3%;
}

.github{
    width: 3%;
}

footer{
    width: 100%;
    text-align: center;
    background-color:black;
    bottom: 0;
}

.cornav{
    background-color: black;
}

.cortopicos{
    color: white;
    font-size: 25px;
    margin-right: 20px;
}

.cortopico{
    color: white;
}

.ativar{
    color: gray;
}

body{
    background-color: rgb(20, 20, 20);
    font-family: 'Katibeh', serif;
}

h1, h2, h3, h4, h5, p{
    color: white;
    margin-left: 2%;
    margin-right: 2%;
}

.cortopicos{
    color: white;
}

.cardcolor{
    background-color: black;
    color: black;
}

.espaco {
    margin-top: 2%;
    margin-bottom: 2%;
}

section{
    padding: 2%;
    border-radius: 20px;
    background-color: black;
    box-shadow:0 10px 15px 0 rgb(124, 76, 21);
    margin-top: 2%;
    margin-bottom: 2%;
}

